{% trans_default_domain "filters" %}

{% macro printOrderBy(result) %}

    {% import _self as _order %}
    <ul class="nav nav-pills">
        {{ _order.printOrderByElement(result, '_score', 'asc', 'By score') }}
    </ul>

{% endmacro printOrderBy %}

{% macro printOrderByElement(result, field, direction, message) %}
    {% set sortBy = result|add_sort_by(field, direction) %}
    {% if sortBy is null %}
        <li class="nav-item">
            <a class="nav-link active" href="#">
                {{ message }}
            </a>
        </li>
    {% else %}
        <li class="nav-item">
            <a class="nav-link"  href="{{ sortBy }}">
                {{ message }}
            </a>
        </li>
    {% endif %}
{% endmacro printOrderByElement %}